@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Thin.ttf');
    font-weight: 200;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Medium.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/RobotoCondensed-Bold.ttf');
    font-weight: bold;
}

body {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

.available {
    color: #7ed321;
}

.not-available {
    color: #d0021b;
}

.full-height {
    height: 100%;
}

#screen {
    position: fixed;
    background-color: white;
    width: 96%;
    height: 96%;
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

#screen-inner {
    position: relative;
    height: 100%;
}

#header {
    height: 240px;
    background: url('images/header.jpg') no-repeat center;
    background-position-y: -160px;
    background-size: cover;
    position: relative;
    color: white;
}

#header .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

#header .header-inner {
    padding: 20px 40px 20px 40px;
}

#header h1.clock {
    font-size: 100px;
    font-weight: 200;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

#header h1.clock .seperator {
    width: 15px;
    display: inline-block;
    margin: 0px 5px;
    animation: blinker 1s linear infinite;
}

#header h2.date {
    font-size: 35px;
    font-weight: 300;
    color: white;
    margin-bottom: 0px;
    margin-top: 50px;
}

#header .logo {
    float: right;
    position: absolute;
    right: 40px;
    bottom: 30px;
}

#body {
    position: relative;
    margin: 50px 0px;
}

#body h1 {
    font-size: 30px;
    margin: 0px;
}

#body h1 .fa {
    padding-right: 20px;
}

.left-column {
    border-right: 1px solid #d1d1d1;
}

.block {
    background-color: #efefef;
    margin: 0px 20px 0px 20px;
}

.block-content {
    padding: 15px;
}

.presence-list {
    margin-top: 20px;
}

.presence-list .fa {
    width: 40px;
}

.presence-list ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.presence-list ul li {
    font-size: 30px;
    font-weight: 100;
    margin: 10px 0px;
}

@media only screen and (max-height: 1030px) {
	.message {
		overflow: hidden;
		height: 380px;
		position: relative;
	}
}

@media only screen and (min-height: 1031px) {
	.message {
		overflow: hidden;
		height: 480px;
		position: relative;
	}
}
.message-inner {
    padding: 20px;
}

#body .message .message-inner h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 35px;
}
.message .timestamp {
    position: absolute;
    min-width: 230px;
    height: 50px;
    top: 0px;
    right: 0px;
    background-color: #333333;
    color: white;
	font-size: 20px;
    line-height: 50px;
    padding: 0px 10px;
}
.messageEventTimestamp {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}
.messageLocation {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.messageLocation .fa {
    width: 50px;
}
.messageTimestamp {
    font-size: 25px;
}
.messageTimestamp .fa {
    width: 50px;
}
.message p {
    font-size: 22px;
    padding-top: 20px;
}
.message .message-type {
    position: absolute;
    bottom: 16px;
    right: 16px;
    opacity: 0.1;
}
.messageQueue {
	height: 100px;
    background-color: #efefef;
	margin: 40px 20px 0px 20px;
	overflow: hidden;
    position: relative;
}
.messageQueueItem {
	float: left;
	margin: 20px 10px;
	line-height: 60px;
	padding: 10px 20px 10px 40px;
	border-left: 1px solid #000000;
}
.messageQueueItem:first-child {
	border-left: 0px solid #000000;
	padding: 10px 20px 10px 20px;
}
.messageQueue .upcoming {
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    text-transform: uppercase;
    opacity: 0.3;
    font-weight: 100;
}

.animate-show.ng-hide-add, 
.animate-show.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  opacity:0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}


#footer {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
    background-color: #bd006b;
    height: 80px;
}

.ticker {
    float: left;
	padding-left: 20px;
	-webkit-animation: ticker 15s cubic-bezier(1, 0, .5, 0) infinite;
	-moz-animation: ticker 15s cubic-bezier(1, 0, .5, 0) infinite;
	-ms-animation: ticker 15s cubic-bezier(1, 0, .5, 0) infinite;
	animation: ticker 15s cubic-bezier(1, 0, .5, 0) infinite;
    padding: 0 2rem;
    font-size: 30px;
    font-weight: 100;
    color: white;
}
.ticker:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
}
.ticker-item {
    line-height: 80px;
}

@keyframes blinker {
    50% { opacity: 0; }
}

@-webkit-keyframes ticker {
	0%   {margin-top: 0;}
	20%  {margin-top: -80px;}
	40%  {margin-top: -160px;}
	60%  {margin-top: -240px;}
	80%  {margin-top: -320px;}
	100% {margin-top: 0;}
}
@-moz-keyframes ticker {
	0%   {margin-top: 0;}
	20%  {margin-top: -80px;}
	40%  {margin-top: -160px;}
	60%  {margin-top: -240px;}
	80%  {margin-top: -320px;}
	100% {margin-top: 0;}
}
@-ms-keyframes ticker {
	0%   {margin-top: 0;}
	20%  {margin-top: -80px;}
	40%  {margin-top: -160px;}
	60%  {margin-top: -240px;}
	80%  {margin-top: -320px;}
	100% {margin-top: 0;}
}
@keyframes ticker {
	0%   {margin-top: 0;}
	20%  {margin-top: -80px;}
	40%  {margin-top: -160px;}
	60%  {margin-top: -240px;}
	80%  {margin-top: -320px;}
	100% {margin-top: 0;}
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -moz-transition: 400ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -ms-transition: 400ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -o-transition: 400ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    transition: 400ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    left: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    left: -50px;
    height: 0px;
}