<h2>Evenement toevoegen/wijzigen <button class="btn btn-danger pull-right" ng-click="vm.deleteEvent()" ng-if="vm.eventId"><i class="fa fa-trash"></i></button></h2>
<hr>
<form class="form" name="vm.form" ng-class="{ 'submitted' : vm.submitted }">
    <div class="form-group">
        <label>Titel</label>
        <input type="text" class="form-control" ng-model="vm.event.title" required>
    </div>
    <div class="form-group">
        <label>Locatie</label>
        <input type="text" class="form-control" ng-model="vm.event.location" required>
    </div>
    <div class="form-group">
        <label>Evenement datum</label>
        <div class="input-group date" date-picker ng-model="vm.event.eventDate" required>
            <input type="text" class="form-control">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>Content</label>
        <div text-angular ng-model="vm.event.content" ta-toolbar="[['h1','h2','h3'],['bold','italics']]" placeholder="Content"></div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block" ng-click="vm.saveEvent()">Opslaan</button>
    </div>
</form>