<div class="itemListHeader">
	<h2 class="itemListTitle">Evenementen</h2>
	<a ui-sref="portal.event.create" class="itemAddButton"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Toevoegen</button></a>
</div>
<h3 class="available"><i class="fa fa-check"></i> Actueel</h3>
<div class="list-group message-list">
	<a ui-sref="portal.event.edit({ id : event.id })" class="list-group-item" ng-repeat="event in vm.activeEvents">
		<h4 class="list-group-item-heading">{{ event.title }}</h4>
		<p class="list-group-item-text parameter"><i class="fa fa-clock-o"></i> {{ event.eventDate | date:"dd/MM/yyyy 'om' H:mm" }}</p>
		<p class="list-group-item-text parameter"><i class="fa fa-map-marker"></i> {{ event.location }}</p>
		<p class="list-group-item-text parameter"><i class="fa fa-user"></i> Gepubliceerd {{ event.creationDate | date:"dd/MM/yyyy 'om' H:mm" }} door {{ event.createdBy.screenname }}</p>
		<p class="list-group-item-text" ng-bind-html="event.content"></p>
	</a>
</div>
<small class="list-small">Klik op een evenement om deze aan te passen.</small>
<h3 class="unavailable"><i class="fa fa-remove"></i> Verlopen</h3>
<div class="list-group message-list">
	<a ui-sref="portal.event.edit({ id : event.id })" class="list-group-item" ng-repeat="event in vm.inactiveEvents">
		<h4 class="list-group-item-heading">{{ event.title }}</h4>
		<p class="list-group-item-text parameter"><i class="fa fa-clock-o"></i> {{ event.eventDate | date:"dd/MM/yyyy 'om' H:mm" }}</p>
		<p class="list-group-item-text parameter"><i class="fa fa-map-marker"></i> {{ event.location }}</p>
		<p class="list-group-item-text parameter"><i class="fa fa-user"></i> Gepubliceerd {{ event.creationDate | date:"dd/MM/yyyy 'om' H:mm" }} door {{ event.createdBy.screenname }}</p>
		<p class="list-group-item-text" ng-bind-html="event.content"></p>
	</a>
</div>
<small class="list-small">Klik op een evenement om deze aan te passen.</small>