<div id="header">
    <div class="gradient header-inner">
        <h2 class="title">Narrowcasting beheren</h2>

        <div class="logo">
            <img src="images/made_by_students.png">
        </div>
    </div>
</div>
<ul id="main-menu">
	<li><a ui-sref="portal.home" ui-sref-active="active">Aanwezigheid</a></li>
	<li><a ui-sref="portal.message" ui-sref-active="active">Berichten</a></li>
	<li><a ui-sref="portal.event" ui-sref-active="active">Evenementen</a></li>
	<li><a ui-sref="portal.teacher" ui-sref-active="active">Docenten</a></li>
	<li><a ui-sref="portal.setting" ui-sref-active="active">Instellingen</a></li>
    <li><a ui-sref="portal.user" ui-sref-active="active">Gebruikers</a></li>
    <li><a href="#" ng-click="vm.logout()">Uitloggen</a></li>
	<div style="clear: both"></div>
</ul>