<h2>Aanwezigheid</h2>

<div class="teacher-list list-group">
	<button type="button" ng-repeat="teacher in ct.teachers" ng-class="{'list-group-item-success' : teacher.availability, 'list-group-item-danger' : !teacher.availability}" ng-click="ct.toggleTeacher($event, teacher)" class="list-group-item">
		<i ng-class="{'fa-check' : teacher.availability, 'fa-remove' : !teacher.availability}"  class="fa"></i>
		{{teacher.fullName}}
	</button>
</div>
<small class="list-small">Klik op een docent om de aanwezigheid van deze aan te passen.</small>