<div id="loginScreenHeader">
	<div id="loginScreenHeaderIcon"></div>
</div>
<div id="loginActualScreen">
	<h1>Login</h1>
	<hr>
	<form class="form">
		<div class="form-group">
			<input ng-model="vm.username" placeholder="Gebruikersnaam" type="text" class="form-control">
		</div>
		<div class="form-group">
			<input ng-model="vm.password" placeholder="Wachtwoord" type="password" class="form-control">
		</div>
		<button ng-click="vm.login()" id="loginButton">Inloggen</button>
	</form>
</div>