<div class="itemListHeader">
	<h2 class="itemListTitle">Berichten</h2>
	<a ui-sref="portal.message.create" class="itemAddButton"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Toevoegen</button></a>
</div>
<h3 class="available"><i class="fa fa-check"></i> Actueel</h3>
<div class="list-group message-list">
    <a ng-repeat="message in vm.activeMessages" ui-sref="portal.message.edit({ id : message.id })" class="list-group-item">
        <h4 class="list-group-item-heading">{{ message.title }}</h4>
        <p class="list-group-item-text parameter"><i class="fa fa-user"></i> Gepubliceerd {{ message.creationDate|date:"dd/MM/yyyy 'om' H:mm" }} door {{ message.createdBy.screenname }}</p>
        <p class="list-group-item-text" ng-bind-html="message.content"></p>
    </a>
</div>
<small class="list-small">Klik op een bericht om deze aan te passen.</small>
<h3 class="unavailable"><i class="fa fa-remove"></i> Verlopen</h3>
<div class="list-group message-list">
    <a ng-repeat="message in vm.inactiveMessages" ui-sref="portal.message.edit({ id : message.id })" class="list-group-item">
        <h4 class="list-group-item-heading">{{ message.title }}</h4>
        <p class="list-group-item-text parameter"><i class="fa fa-user"></i> Gepubliceerd {{ message.creationDate|date:"dd/MM/yyyy 'om' H:mm" }} door {{ message.createdBy.screenname }}</p>
        <p class="list-group-item-text" ng-bind-html="message.content"></p>
    </a>
</div>
<small class="list-small">Klik op een bericht om deze aan te passen.</small>