<h2>Bericht {{vm.addOrEdit}} <button class="btn btn-danger pull-right" ng-click="vm.deleteMessage()" ng-if="vm.messageId"><i class="fa fa-trash"></i></button></h2>
<hr>
<form class="form" name="vm.form" ng-class="{ 'submitted' : vm.submitted }">
    <div class="form-group">
        <label>Titel</label>
        <input type="text" placeholder="Titel" ng-model="vm.message.title" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Verloopdatum</label>
        <div class="input-group date" date-picker ng-model="vm.message.expirationDate" required>
            <input type="text" class="form-control">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>Content</label>
		<div text-angular ng-model="vm.message.content" ta-toolbar="[['h1','h2','h3'],['bold','italics']]" placeholder="Content" required></div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block" ng-click="vm.saveMessage()">Opslaan</button>
    </div>
</form>