<h2>Instelling <em>{{ vm.setting.description }}</em> wijzigen</h2>
<hr>
<form class="form" name="vm.form" ng-class="{ 'submitted' : vm.submitted }">
    <div class="form-group">
        <label>Waarde</label>
        <input type="text" class="form-control" ng-model="vm.setting.value" required>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block" ng-click="vm.saveSetting()">Opslaan</button>
    </div>
</form>