<div class="itemListHeader">
	<h2 class="itemListTitle">Instellingen</h2>
</div>
<div class="list-group message-list">
    <a class="list-group-item" ng-repeat="setting in vm.settings" ui-sref="portal.setting.edit({id : setting.key })" >
        <p class="list-group-item-heading"><b>{{ setting.description }}</b></p>
        <p class="list-group-item-text">{{ setting.value }}</p>
    </a>
</div>