<h2>Docent {{vm.addOrEdit}}<button class="btn btn-danger pull-right" ng-click="vm.deleteTeacher()" ng-if="vm.teacherId"><i class="fa fa-trash"></i></button></h2>
<hr>
<form class="form" name="vm.form" ng-class="{ 'submitted' : vm.submitted }">
    <div class="form-group">
        <label>Naam</label>
        <input type="text" class="form-control" ng-model="vm.teacher.fullName" required>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block" ng-click="vm.saveTeacher()">Opslaan</button>
    </div>
</form>