<div class="itemListHeader">
	<h2 class="itemListTitle">Docenten</h2>
	<a ui-sref="portal.teacher.create" class="itemAddButton"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Toevoegen</button></a>
</div>
<div class="list-group message-list">
    <a class="list-group-item" ng-repeat="teacher in vm.teachers" ui-sref="portal.teacher.edit({id : teacher.id})" >
        <p class="list-group-item-heading">{{ teacher.fullName }}</p>
    </a>
</div>
<small class="list-small">Klik op een docent om deze aan te passen.</small> 