<h2>Gebruiker {{vm.addOrEdit}}<button class="btn btn-danger pull-right" ng-click="vm.deleteTeacher()" ng-if="vm.teacherId"><i class="fa fa-trash"></i></button></h2>
<hr>
<form class="form" name="vm.form" ng-class="{ 'submitted' : vm.submitted }">
    <div class="form-group">
        <label>Gebruikersnaam</label>
        <input type="text" class="form-control" ng-model="vm.user.username" required ng-cloak>
    </div>
    <div class="form-group">
        <label>Schermnaam</label>
        <input type="text" class="form-control" ng-model="vm.user.screenname" required ng-cloak>
    </div>
    <div class="form-group">
        <label>Wachtwoord</label>
        <input type="password" class="form-control" ng-model="vm.user.password">
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block" ng-click="vm.saveUser()">Opslaan</button>
    </div>
</form>