<div class="itemListHeader">
    <h2 class="itemListTitle">Gebruikers</h2>
    <a ui-sref="portal.user.create" class="itemAddButton"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Toevoegen</button></a>
</div>
<div class="list-group message-list">
    <a ng-repeat="user in vm.users" ui-sref="portal.user.edit({ id : user.id })" class="list-group-item">
        <h4 class="list-group-item-heading">{{ user.username }}</h4>
    </a>
</div>