@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Thin.ttf');
    font-weight: 200;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Medium.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/RobotoCondensed-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}
.available {
    color: #5cb85c;
}

.unavailable {
    color: #d9534f;
}

#screen {
    background-color: white;
    width: 96%;
	max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
#loginScreen {
    width: 96%;
	max-width: 400px;
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#loginScreenHeader {
	width: 100%;
	text-align: center;
	top: -170px;
	height: 170px;
	position: absolute;
}
#loginScreenHeaderIcon {
	background-color: #bd006b;
	background-image: url('images/made_by_students.png');    
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	width: 150px;
    height: 150px;
    display: inline-block;
}
#loginActualScreen {
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	border-bottom: 6px solid #bd006b;
}
#loginActualScreen > h1 {
	margin-top: 10px;
}
#loginButton {
	color: white;
	padding: 6px 12px;
	border: 0;
	background-color: #bd006b;
}
#header {
    height: 160px;
    background: url('images/header.jpg') no-repeat center;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

#header .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

#header .header-inner {
    padding: 20px 40px 20px 40px;
}
@media only screen and (min-width: 586px) {
	#header .logo {
		float: right;
		position: absolute;
		right: 40px;
		bottom: 30px;
	}
}
@media only screen and (max-width: 585px) {
	#header .logo {
		float: right;
		position: absolute;
		right: 40px;
		top: 5px;
	}
	#header .logo > img {
		height: 90px;
	}
}

#header .title {
    float: right;
    position: absolute;
    left: 40px;
    bottom: 20px;
	color: #ffffff;
}
#main-menu {
	list-style: none;
	list-style-type: none;
	margin: 0;
	background-color: #bd006b;
	width: 100%;
	padding: 0;
}
#main-menu > li {
	float: left;
}
#main-menu > li > a {
	padding: 10px 22px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	display: block;
}
#main-menu > li > a:hover {
	background: rgba(0,0,0,0.2);
	text-decoration: none;
}
#main-menu > li > a:focus {
	text-decoration: none;
	outline: none;
}
#main-menu > li > a.active {
	background: rgba(0,0,0,0.1);
}
#body {
    position: relative;
    margin: 30px 20px;
	padding-bottom: 10px;
}

#body h1 {
    font-size: 30px;
}

#body .list-small {
	margin: 5px 0 20px 5px;
	display: inline-block;
}
/* Page specific */
#body .teacher-list {
	margin: 0;
	max-width: 300px;
}
#body .teacher-list button:focus{
	outline: none;
}
#body .teacher-list button i {
	width: 18px;
}

#body .message-list {
	margin: 15px 0 0 0;
}
#body .message-list h4 {
    font-weight: bold;
}
#body .message-list .list-group-item-text {
	color: #333333;
}
#body .message-list .parameter {
	color: #888888;
	margin: 6px 0;
}

#body .message-list .parameter i {
	width: 12px;
}
#footer {
    background-color: #bd006b;
    height: 80px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    padding-left: 100%;
}
.itemListHeader {
	width: 100%;
	clear: both;
	height: 35px;
}
.itemListTitle {
	float: left;
	float: left;
	margin: 0;
}
.itemAddButton {
	float: right;
}
.submitted input.ng-invalid {
    background-color: pink;
}
.submitted .ng-invalid input {
	background-color: pink;
}
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}
.ta-editor p {
	outline: none;
}
.ta-editor div {
	outline: none;
}

.absoluteBackground {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
}
.loginBackground {
    background: url('images/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}
.portalBackground {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}