<div id="header">
    <div class="gradient header-inner">
        <h2 class="date">{{ vm.date }}</h2>
        <h1 class="clock">{{ vm.hours }}<span class="seperator">:</span>{{ vm.minutes }}</h1>

        <div class="logo">
            <img src="images/made_by_students.png">
        </div>
    </div>
</div>
