<div class="message block" message-body>
	<div class="message-inner">
		<div class="timestamp">
			<div ng-show="vm.showBlocks" class="animate-show timestampInner">
				<i class="fa fa-clock-o"></i> 
				<span ng-bind="vm.currentBlock.creationDate | date:'dd/MM/yyyy H:mm'"></span>
			</div>
		</div>
		<h1 ng-show="vm.showBlocks" class="animate-show" ng-bind="vm.currentBlock.title"></h1>
		<h2 ng-show="vm.showEventData" class="messageLocation animate-show"><i class="fa fa-map-marker"></i> {{vm.currentBlock.location}}</h2>
		<h2 ng-show="vm.showEventData" class="messageTimestamp animate-show"><i class="fa fa-clock-o"></i> {{vm.currentBlock.secondDate | date:"dd MMMM 'om' H:mm"}}</h2>
		<p ng-show="vm.showBlocks" class="animate-show" ng-bind-html="vm.currentBlock.content"></p>
		<span class="message-type animate-show" ng-bind-html="vm.currentBlock.type|toicon">
		</span>
	</div>
</div>
<div class="messageQueue"> 
	<div ng-animate="'animate'" class="animate-show messageQueueItem" ng-repeat="queueMessage in vm.nextBlocks">
		<h1>{{queueMessage.title}}</h1>
	</div>
	<span class="upcoming">Upcoming</span>
</div>