<div class="block full-height">
    <div class="block-content">
        <h1><i class="fa fa-user"></i> Aanwezigheid</h1>

        <div class="presence-list">
            <ul>
                <li ng-repeat="teacher in vm.teachers|orderBy:'fullName':false">
					<i ng-class="{'fa-check available' : teacher.availability, 'fa-remove not-available' : !teacher.availability}" class="fa"></i> 
					{{teacher.fullName}}
				</li>
            </ul>
        </div>
    </div>
</div>
